* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ececec;
}

.main-container {
  height: 100vh;
  margin-left:35%;
}


.comment-text {
  margin: 12px 0;
  font-size: 1.15rem;
  font-weight: 600;
}

.input-box {
  height: 75px;
  width: 465px;
  background-color: #ffffff;
}

.comment-button {
  height: 40px;
  width: 80px;
  background-color: #1b0fff;
  color: white;
  font-size: 1.05rem;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.comment-container {
  height: 75px;
  width: 465px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 0;
  word-break: break-all;
}
.like-btn{
  padding:12px 22px;
  border-radius: 10px;
  border:none;
  margin-right:20px;
  background-color:blue;
  color:white;
}